/* CSS Stylesheet for popup.html */

html {
    width: 700px;
    height: 600px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* *** ---  summarisation functionality --- *** */

#summarisation{
    flex: 0 0 30%;
    background-color: white;
}

/* --- summarisation [ row 1 ] --- */

/* sets the rows to be inline with each other */
.rows-inline {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px ;
}

/* .row-item-fullwidth */
.rows-inline > div {              
    width: 100%;
}

/* Provider, summarise button and settings section */
#control {
    height: 4em;
}

#contextual {
    height: 2em;
}

#summarise-settings-box {
    float: right;
    width: 28%;
}

/* Settings button */
#summarise-settings-box > button {
    float: right;
}

/* Summarise button position */
#summarise-box {
    float: left;
}

.contextual-box {
    font-weight: bold;
}


/* *** ---  summary-box --- *** */

#summary-box {
    flex: 0 0 60%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
}


/* *** ---  post-summarisation --- *** */

/* BS & CO version */
#post-summarisation  {
    flex: 0 0 10%;
    padding-top: 5px;
}

/* Header */
#post-summarisation > h3{
    padding-bottom: 5px;
}


/* --- summarisation [ (ChatGPT/OpenAI) co-customisation ] --- */

/* Container */
#co-customisation {
    display: none;
}

#co-customisation {
    padding-left: 10px;
    padding-bottom: 10px;
}

#co-customisation > h3 {
    padding-right: 20px;
}

