/* Container */

#container {
    width: 750px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    /* border: 1px solid red; */
}

#container > div {
    padding-bottom: 30px;
}

/* H and P size */

h1 {
    padding-bottom: 12px;
    font-size: 35px;
}

h2 {
    font-size: 27px;
    padding-bottom: 10px;
}

h3 {
    font-size: 21px;
    padding-bottom: 10px;
}

h4 {
    font-size: 17px;
    padding-bottom: 15px;
}

p, li {
    font-size: 15px;
}

/* Section spacing */

#provider + #shortcuts {
    margin-top: 25px;
}

#shortcuts + #co-customisation {
    margin-top: 25px;
}

#co-customisation + #bs-config {
    margin-top: 25px;
}

/* *** --- Provider --- *** */

#bs-provider-connection-box *:not(button, 
                                  input, 
                                  #bs-provider-connection-login-button, 
                                  #bs-provider-connection-signup-button),
#co-provider-connection-box *:not(button, input) {
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
}

#bs-provider-connection-box p:first-of-type,
#co-provider-connection-box p:first-of-type {
    padding-top: 15px;
}

/* #bs-provider-connection-box p:first-child,
#co-provider-connection-box p:first-child {
    padding-top: 100px;
} */

/* --- Provider [bs-provider] --- */



/* --- Provider [co-provider] --- */
#co-provider-connection-box {
    display: none;
}

/* *** --- CO Customisation --- *** */

/* Prompts contextual help  */

#co-prompts-ctx-help {
    font-weight: bold;
    color: red;
}

/* Update prompt */
#co-prompts-edit-editor {
    padding-top: 20px;
    display: none;
}

/* Part of prompts description */
#prompts ul.guide-text {
    list-style-type: none;
    padding-left: 20px;
}


/* *** --- Shortcuts --- *** */

#shortcuts p {
    font-style: italic;
    padding-bottom: 10px;
}

#shortcuts ul {
    list-style-type: none;
    padding-bottom: 10px;
}

#shortcuts ul > li {
    /* font-size: 13px; */
    padding-bottom: 10px;
}

#shortcuts ul > li > strong{
    font-size: 20px;
    font-weight: 900;
}




/* *** --- BS Customisation --- *** */

/* --- General --- */
.summarisation-customisation {
    border-top: none;
}

/* Settings popup */

.popup-settings {
    /* position: relative; */
    /* background-color: black; */
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
    /* display: inline-block; */
    /* z-index: 1; */
    /* top: 185px; */
}


/* .per-site-config > div {
    padding-bottom: 20px;
} */

.bs-psc-addconfig > div {
    padding-bottom: 20px;
}

.scraping-options ul{
    font-style: italic;
    list-style: none;
    padding-bottom: 20px;
}


/* --- Edit --- */

/* --- Add --- */

/* Url + xpath descriptor p button inline */
#bs-psc-url-descriptor-box p,
#bs-psc-url-descriptor-box button,
#add-xpath p:first-of-type,
#add-xpath #xpath-descriptor-toggle {
    display: inline-block;
}

/* Url + xpath descriptor text box */
.descriptor-text-box {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* Chevron styling */
.guide-descriptor-toggle {
    background: none;
    border: none;
}

.guide-descriptor-toggle::after {
    content: '\25BC'; /* Chevron facing down */
    margin-left: 5px; 
}

/* xpath descriptor */


/* xpath */
#add-xpath {
    display: none;
}


/* BS Edit site */
#bs-psc-editsite-update {
    display: none;
}

/* *** --- DIV buttons (box) --- *** */

/* Clear some styling */
.box-div-button {
    text-align: center;
    background: none;
    background-color: #F6F193;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    /* border: none; */
    border: 1px solid grey;
    /* border: 1px solid #fff200; */
    /* border: 1px solid green; */
    transition: background-color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;    
}

.box-div-button:hover {
    background-color: #F6F193;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #F6F193;
}

/* *** --- Other --- *** */

.guide-text {
    font-style: italic;
}

.pad-btm-10 {
    padding-bottom: 10px;
}

.pad-btm-15 {
    padding-bottom: 15px;
}

.pad-btm-20 {
    padding-bottom: 20px;
}

.pad-top-20 {
    padding-top: 20px;
}

.selectable-button-side {
    display:inline-block;
}

.line-separator {
    width: 80%;
    padding-top: 30px;
    border-bottom: 3px solid lightgrey;
    margin-bottom: 30px;
}

.green {
    background-color: greenyellow;
    /* background-color: #D9EDBF; */
}

.red-error {
    /* color: red; */
    font-weight: bold;
}

