/* Container */

#container {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* H and P size */

h1 {
    padding-bottom: 12px;
    font-size: 35px;
}

h2 {
    font-size: 27px;
    padding-bottom: 10px;
}

h3 {
    font-size: 17px;
    padding-bottom: 10px;
}

h4 {
    font-size: 15px;
    padding-bottom: 10px;
}

p {
    font-size: 13px;
}

/* Section spacing */

#provider + #shortcuts {
    margin-top: 25px;
}

#shortcuts + #co-customisation {
    margin-top: 25px;
}

#co-customisation + #bs-config {
    margin-top: 25px;
}

/* *** --- Provider [co-provider] --- *** */

/* #bs-provider-connection-box > p,
#bs-provider-connection-box > div,
#co-provider-connection-box > p,
#co-provider-connection-box > div {
    padding-bottom: 15px;
} */

#bs-provider-connection-box *:not(button, 
                                  input, 
                                  #bs-provider-connection-login-button, 
                                  #bs-provider-connection-signup-button),
#co-provider-connection-box *:not(button, input) {
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
}

#bs-provider-connection-box p:first-of-type,
#co-provider-connection-box p:first-of-type {
    padding-top: 15px;
}

/* #bs-provider-connection-box p:first-child,
#co-provider-connection-box p:first-child {
    padding-top: 100px;
} */

/* --- Provider [bs-provider] --- */



/* --- Provider [co-provider] --- */
#co-provider-connection-box {
    display: none;
}


/* Prompts contextual help  */

#co-prompts-ctx-help {
    font-weight: bold;
    color: red;
}

/* Update prompt */
#co-prompts-edit-editor {
    display: none;
}





/* --- summarisation [ (edit) bs-customisation ] --- */

.selectable-button-side {
    display:inline-block;
    /* color:#444; */
    border:1px solid #CCC;
    /* background:#DDD; */
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}


/* xpath */

#add-xpath {
    display: none;
}


/* BS Edit site */
#bs-psc-editsite-update {
    display: none;
}