/* --- Provider [co-provider] --- */
#co-provider-connection-box {
    display: none;
}


/* --- summarisation [ co-customisation ] --- */

.popup {
    /* position: relative; */
    background-color: gray;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    z-index: 1;
    /* top: 500px; */
}
  
.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

/* Prompts contextual help  */

#co-prompts-ctx-help {
    font-weight: bold;
    color: red;
}

/* Update prompt */
#co-prompts-edit-editor {
    display: none;
}





/* --- summarisation [ bs-customisation ] --- */

/* #summarisation-customisation > div {
    display: inline-block;
    border: 1px solid red;
} */

#bs-customisation > div {
    display: inline-block;
    border: 1px solid red;
}

.selectable-button {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

.selected-state {
    background-color: red;
}

/* xpath */

#add-xpath {
    display: none;
}


/* BS Edit site */
#bs-psc-editsite-update {
    display: none;
}