html {
    width: 700px;
    height: 600px;
}


#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* *** ---  summarisation --- *** */

#summarisation{
    flex: 0 0 30%;
    background-color: white;
}

/* --- summarisation [ row 1 ] --- */

.rows-inline {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px ;
}

/* .row-item-fullwidth */
.rows-inline > div {              
    width: 100%;
    /* height: 2em; */
    /* border: 1px solid black; */
}

#control {
    height: 4em;
    /* border: 1px solid black; */
}

#contextual {
    height: 2em;
    /* border: 1px solid black; */
}

#summarise-settings-box {
    float: right;
    width: 28%;
    /* background-color: white; */
    /* border: 1px solid black; */
    /* display: inline; */
}

/* Settings button */
#summarise-settings-box > button {
    float: right;
    /* width: 30%; */
    /* display: inline; */
}

#summarise-box {
    float: left;
}

.contextual-box {
    /* color: ; */
    font-weight: bold;
}


/* *** ---  summary-box --- *** */

#summary-box {
    flex: 0 0 60%;
    /* background-color: yellow; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 15px;
    /* padding-bottom: 10px; */
    padding: 15px 15px 15px 15px;
}


/* *** ---  post-summarisation --- *** */

/* BS & CO version */
#post-summarisation  {
    flex: 0 0 10%;
    padding-top: 5px;
    /* background-color: red; */
}

#post-summarisation > h3{
    /* padding-top: 0px; */
    padding-bottom: 5px;
}


/* --- summarisation [ co-customisation ] --- */

#co-customisation {
    display: none;
}

#co-customisation {
    padding-left: 10px;
    padding-bottom: 10px;
}

#co-customisation > h3 {
    padding-right: 20px;
}
